.container{
    width: 100%;  
    font-family: Spartan;
}

.grid-container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 85%;
    margin: 0 auto;
    align-items: center;
}

.intro h1{
    font-size: 65px;
    line-height: 70px;
    font-weight: bold;
}

.intro p{
    color: #927B91;
    font-size: 18px;
    line-height: 25px;
    width: 85%;
}

.reviews{
    margin-top: -55px;  
}

.reviews .rev{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 0 50px;
    width: 60%;
    background-color: #F7F2F7;
    margin-bottom: 10px;
    border-radius: 5px;
}

.rev p{
    font-weight: bold;
    color: #512051;
}

.reviews .r-2{
    margin-left: 10%;

}

.reviews .r-3{
    margin-left: 20%;
}

.card{
    background-color: #512051;
    border-radius: 10px;
    padding: 20px;
    margin-right: 15px;
    height: 230px
}

.s-c{
    margin-top: 10%;
}

.l-c{
    margin-right: 0;
    margin-top: 20%;
}

.card-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-head h3{
    color: #fff;
}

.card-head p{
    color: #EE69A4;
    margin-top: -15px;
}

.card-head .img{
    margin-right: 15px;
}

.card-body p{
    color: #fff;
    font-size: 18px;
    line-height: 25px;
}

.card-head .text{
    margin-right: auto;
    border: 1px sold rgb(168, 168, 17);
}

.grid-container2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 85%;
    margin: 30px auto;
}

@media only screen and (max-width: 600px) {
    .container{
        overflow-x: hidden;
    }

    .grid-container1 {
        grid-template-columns: 1fr;
        width: 80vw;
    }

    .intro h1{
        font-size: 40px;
        line-height: 40px;
        text-align: center;
    }

    .intro p{
        text-align: center;
        width: 100%;
    }

    .reviews{
        margin-top: 20px;
    }

    .reviews .rev{
        display: grid;
        grid-template-columns: auto;
        margin-left: 0;
    }
     
    .stars-img{
        margin: 0 auto;
        margin-top: 10px;
    }

    .rating{
        margin-top: -5%;
    }

    .grid-container2{
        grid-template-columns: 1fr;
    }

    .card{
        margin-right: 0;
    }

    .l-c{
        margin-right: 0;
        margin-top: 10%;
    }
  }
